﻿*
{
	font-family: Arial, Sans-Serif;
}

body
{
	padding: 0;
	margin: 0;
	background-color: #6DCB5C;
}

.body
{
	background: url(images/body-bg.png) 0 0 no-repeat #eae9e7;
}

h3
{
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 16px;
}

h2
{
	font-size: 16px;
}

.label
{
	font-weight: bold;
	text-align: right;
	padding-right: 5px;
}

td.header
{
	height: 90px;
	padding-right: 10px;
	background: url(Images/newHeader.jpg) 0 0 no-repeat white;
	width: 100%;
}

.content
{
	/*width : 100%;*/
	height: 100%;
	min-height: 800px; /*border : solid 1px #339966;*/
}

.leftContent
{
	/*width : 100%;*/
	height: 100%;
	min-height: 800px; /*border : solid 1px #339966;*/
	width: 200px;
}

.menu
{
	height: 40px;
	padding: 5px 0 5px 210px;
	margin-left: 18px; /* New */
}

.clientLogo
{
	position: absolute;
	width: 205px;
	height: 68px;
	top: 0;
	left: 50px; /*background : grey; 	border : solid 1px grey;*/
}

.clientLogo2
{
	position: absolute;
	width: 205px;
	height: 68px;
	top: 0;
	left: 1250px; /*background : grey; 	border : solid 1px grey;*/
}

.clientLogo img, .clientLogo2 img
{
	max-width: 185px;
	max-height: 65px;
	padding-top: 5px;
	padding-left: 5px; /*background : grey; 	border : solid 1px grey;*/
}

.multiPage
{
	margin: 0 14px;
}

.multiPage .page
{
	border: solid 1px grey;
	min-height: 470px;
	height: 100%;
}

.page
{
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 12px;
	background: white;
}

.pageDiv
{
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 12px;
	background: white;
	border: solid 1px grey; /*width : 100%;*/
	height: 100%; /* margin-left : 10px;*/
	margin-left: 36px;
}

.rowHeader
{
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 14px;
	background: white;
	text-align: center;
	line-height: 18px;
	vertical-align: middle;
	height: 25px;
}

.tabStrip
{
	margin: 0 15px 0 14px !important;
}
.tabStrip .rtsLevel1
{
	padding: 0 !important;
}

.radPanel
{
	width: 100%;
}

.tableLikeTekerik
{
	border: solid 1px #828282;
}

.button, .ptButton, .ptButtonBig, .ptButtonBigger
{
	border: 1px solid;
	border-color: #4e667e #5e7488 #425c71;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #d6e1e7 repeat-x 0 0 url(images/commonButton.gif);
	color: #0d202b;
	font: 12px "segoe ui" ,tahoma,sans-serif;
}

.contentTableCell
{
	/*width : 100px;*/
	text-align: right;
}

.file
{
	border: solid 1px grey;
	width: 150px;
	height: 160px;
	padding: 15px;
	float: left;
	margin: 15px;
	font-family: "Segoe UI" ,Arial,sans-serif;
	font-size: 12px;
	line-height: 15px;
}

.file input
{
	margin-left: 35px;
}

.leftPanelBarContainer
{
	float: left;
	width: 250px;
	height: 250px;
	overflow: auto;
	position: relative; /* Required to workaround IE rendering bug*/
}

.jobInfo
{
	background: #fff url('images/top_bg.jpg') repeat-x; /*width: 200px;*/
	width: 230px;
	height: 100%;
	border: solid 1px #828282;
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 12px;
}

.jobInfo div
{
	padding: 5px 5px 5px 5px;
}

.jobInfo table
{
	width: 100%;
}

.jobInfo_td
{
	text-align: right;
	font-weight: bold;
}
.jobInfo_td img
{
	max-width: 180px;
	padding-left: 5px;
}

.jobInfo_info
{
	text-align: left;
	width: 120px;
}

.innerSpan
{
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 14px;
}

.menuClass span
{
	min-width: 100px;
	text-align: center;
}

.hiddenElement
{
	display: none;
}

/*.jobInfo
{
	background: #fff url('images/top_bg.jpg') repeat-x;
	width: 200px;
	height: 100%;
	border: solid 1px #828282;
	font-family: "Segoe UI" , Arial, sans-serif;
	font-size: 12px;
}*/

.jobInfo div
{
	padding: 5px 5px 5px 5px;
}

.jobInfo table
{
	width: 100%;
}

.jobInfo_td
{
	text-align: right;
	font-weight: bold;
}

.jobInfo_td img
{
	max-width: 180px;
	padding-left: 5px;
}

.jobInfo_info
{
	text-align: left;
	width: 120px;
}

.modalPopupBig
{
	background: white;
	padding: 0px;
	width: 400px;
	border: #333 1px solid;
	position: absolute;
	left: -100em;
}
.modalPopup
{
	background: white;
	padding: 0px;
	width: 220px;
	border: #333 1px solid;
	position: absolute;
	left: -100em;
}

.errorBackground
{
	background: #333;
	filter: alpha(opacity=50);
	opacity: 0.5;
}
/*
.button
{
	border:1px solid;
	border-color:#93aaa7 #557a8a #527889;
	background:url(Img/qsfButton.gif) repeat-x #a8d1cc;
	min-height:24px;
	font-size:11px;
	line-height:20px;
	padding:0;
}

.ptButton,
.ptButtonBig,
.ptButtonBigger
{
	width:95px;
	min-height:24px;
	font-size:11px;
	line-height:20px;
	border:0;
	background:url('images/ptButton95.gif') no-repeat #a8d1cc;
}

.ptButtonBig
{
	width:120px;
	background:url('images/ptButton120.gif') no-repeat #a8d1cc;
}

.ptButtonBigger
{
	width:150px;
	background:url('images/ptButton150.gif') no-repeat #a8d1cc;
}

*/

.modalBackground
{
	background-color: Gray;
	filter: alpha(opacity=60);
	opacity: 0.6;
	z-index: 100;
}

.modalPopup
{
	background-color: #c4deef;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 5px;
	width: 290px;
	height: 250px;
}

.modalPopupList
{
	background-color: #FFF;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 5px;
	max-width: 980px;
	height: 400px;
}

.modalPopupError
{
	background-color: #c4deef;
	border-width: 3px;
	border-style: solid;
	border-color: Gray;
	padding: 5px;
	width: 500px;
	height: 100px;
}
.modalPopupError2
{
	background-color: #ecf4fa;
	border-color: Gray;
	border-style: solid;
	border-width: 3px;
	height: 200px;
	margin-bottom: 390px;
	margin-left: 230px;
	margin-top: -50px;
	padding: 5px;
	position: absolute;
	width: 500px;
	z-index: 300000;
}

/* ----------- GRID ----------- */
.grid
{
	border: solid 1px #CCC;
}

.grid th
{
	background-color: #d0d0d2;
	background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#d0d0d2));
	background: -moz-linear-gradient(top,  #f2f2f2,  #d0d0d2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2f2f2', endColorstr='#d0d0d2');
	padding: 3px 10px;
	border: solid #FFF;
	border-width: 1px 1px 1px 0;
}

.grid td
{
	padding: 3px 5px;
	border-top: solid 1px #CCC;
}

.grid tr.alt td
{
	background: #EEE;
}
.retainPopup
{
	left: 210px;
	position: fixed;
	top: 120px;
	z-index: 100001;
}
.MRL74
{
	margin-left: -74px;
}
 .div_ImportProcessOuter
 {
     display: none;
     height: 205px;
     width: 402px;
     background-image: url(  '../../App_Themes/Default/Images/div_back_AuditReport12.png' );
     background-repeat: no-repeat;
     z-index: 7001;
     position: absolute;
     left: 485px;
     top: 230px;
     background-position: -2px -2px;
     border-radius: 7px;
  }
  .div_AEGXMLErrorPopUp
 {
     display: none;
     height: 205px;
     width: 402px;
     background-image: url(  '../../App_Themes/Default/Images/div_back_AuditReport12.png' );
     background-repeat: no-repeat;
     z-index: 7001;
     position: absolute;
     left: 485px;
     top: 230px;
     background-position: -2px -2px;
     border-radius: 7px;
  }
.AuditorPopUp
 {
     background-image: url(  '../../App_Themes/Default/Images/div_back_AuditReport12' );
     background-repeat: no-repeat;
 }
.div_BlockReturnsWarningOuter
 {
	  display: none;
      height: 205px;
      width: 402px;
      background-image: url(  '../../App_Themes/Default/Images/div_back_AuditReport12.png' );
      background-repeat: no-repeat;
      z-index: 7001;
      position: absolute;
      left: 485px;
      top: 230px;
      background-position: -2px -2px;
      border-radius: 7px;
  }     
.rightPadding 
{
    
    background-color:transparent;
    padding-right: 15px;

}

   
  