﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.master.cs" Inherits="PowerShipping.WebSite.Shared.Default" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="asp" %>

<%@ Register Assembly="Telerik.Web.UI" Namespace="Telerik.Web.UI" TagPrefix="telerik" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<link href="../App_Themes/Default/Main.css" rel="stylesheet" type="text/css" />
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <style>
        .RadMenu .rmGroup .rmLink,
        .RadMenu .rmGroup .rmText {
            text-align: left !important;
        }
    </style>
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <asp:ToolkitScriptManager ID="ToolkitScriptManager1" runat="server" EnablePageMethods="true">
        </asp:ToolkitScriptManager>
        <div>
        </div>
        <table style="height: 90px; background-color: White; width: 100%" cellpadding="0" cellspacing="0" border="0">
            <tr>
                <td>
                    <asp:Image runat="server" SkinID="Logo" /></td>
                <td class="header">&nbsp;</td>
                <%--<td style=" width : 100%; background-color : White; " align="left"><img src="../App_Themes/Default/Images/First Energy.jpg" alt="logo" /></td>--%>
                <td>
                    <asp:Image ID="LogoImage" runat="server"
                        ImageUrl="~/App_Themes/Default/Images/PDE_191x71.jpg" /></td>
            </tr>
        </table>
        <div class="clientLogo">
            <asp:ContentPlaceHolder ID="ContentPlaceHolder_ClientLogo" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <table align="right" cellpadding="0" cellspacing="0">
            <tr>
                <td style="padding: 0 10px; border-right: solid 1px;">
                    <asp:Literal runat="server" ID="help" Text=""></asp:Literal>
                </td>
                <td>
                    <asp:LoginView ID="LoginView1" runat="server">
                        <LoggedInTemplate>
                            <table cellpadding="0" cellspacing="5">
                                <tr>
                                    <td></td>
                                    <td wrap="false">Logged in as
                                        <asp:LoginName ID="LoginName1" runat="server" CssClass="loginName" />
                                    </td>
                                    <td>|</td>
                                    <td>
                                        <asp:LoginStatus ID="LoginStatus1" runat="server" LogoutAction="RedirectToLoginPage" OnLoggedOut="LoggedOut" />
                                    </td>
                                </tr>
                            </table>
                        </LoggedInTemplate>
                    </asp:LoginView>
                </td>
            </tr>
        </table>
        <div class="menu">
            <telerik:RadMenu ID="RadMenu1" runat="server" DataFieldID="url" ClickToOpen="false"
                DataFieldParentID="url" DataNavigateUrlField="url" DataTextField="title" OnItemDataBound="RadMenu1_ItemDataBound"
                DataValueField="url" Skin="Vista" DataSourceID="SiteMap" CssClass="menuClass" EnableRoundedCorners="true" EnableShadows="true">
            </telerik:RadMenu>
            <asp:SiteMapDataSource ID="SiteMap" runat="server" ShowStartingNode="False" SiteMapProvider="DefaultSiteMapProvider" />
        </div>
        <table style="width: 100%;" cellpadding="0" cellspacing="0">
            <tr>
                <td style="width: 200px; vertical-align: top;" runat="server" id="tdLeftContent">
                    <div class="leftContent">
                        <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </td>
                <td style="vertical-align: top;">
                    <div class="content">

                        <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                        </asp:ContentPlaceHolder>
                    </div>
                </td>
            </tr>
        </table>
        <%-- PG31--%>
        <div  ID="s" style="width: 100%; text-align: center;">
             <asp:Label ID="DataRealease" runat="server">Version 3.1.0.0(7/23/2014)</asp:Label> </div>
    </form>
    <script src="../js/jquery.js" type="text/javascript"></script>
    <script src="../js/main.js" type="text/javascript"></script>
</body>
</html>
