﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/Shared/Default.Master" CodeBehind="Error.aspx.cs" Inherits="PowerShipping.WebSite.Error" Theme="Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder_ClientLogo" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        
        <div class="pageDiv" style=" padding : 20px;">
            <h3 style=" ">Error Page</h3>
            <asp:Literal ID="error" runat="server"></asp:Literal>
        </div>

</asp:Content>