﻿<%@ Page Title="Help" Language="C#" MasterPageFile="~/Shared/Default.Master" AutoEventWireup="true" CodeBehind="Help.aspx.cs" Inherits="PowerShipping.WebSite.Help" Theme="Default" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder_ClientLogo" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">
</asp:Content>
<asp:Content ID="Content4" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
        
        <div class="pageDiv" style=" padding : 20px;">
            <h3 style=" "><asp:Literal ID="title" runat="server"></asp:Literal></h3>
            <asp:Literal ID="help" runat="server"></asp:Literal>
        </div>

</asp:Content>
